<div class="conversations">

  <div>
    <p> space </p>
    <p> space </p>
  </div>

  <h1> Conversations </h1>

  <% @conversations.each do |conversation| %>
    <div>
      <%= link_to conversation.subject, conversation_path(conversation) %>.
    </div>
  <% end %>
  <div>
    <%= link_to "New Conversation", new_conversation_path %>
  </div>
</div>
