<div class="music-body">
    <%= button_to 'Dislike', pages_music_path, method: :get %>
    <!-- <a href="#" class="arrow">&#8249;</a> -->
    <div class="music-song-container">
        <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjzqMybt9nlAhXpHjQIHUKvAZgQjRx6BAgBEAQ&url=https%3A%2F%2Fmuppet.fandom.com%2Fwiki%2FThe_Best_of_Elmo_(album)&psig=AOvVaw0kBkwvbYmmBFuVDwd5Pu5s&ust=1573261841366739">
        <p class="music-title"><%= @song['name'] %></p>
        <p class="music-artist"><%= @song['artist'] %></p>
    </div>
    <!-- <a href="#" class="arrow">&#8250;</a> -->
    <%= button_to 'Like', pages_music_path, method: :get %>
</div>
