<%= stylesheet_link_tag "Music.css" %>
<div class="header"> 
    <div class="title-container">
        <h1>spinder</h1>
    </div>
    <div class="button-container">
        <%= link_to '<button type="button">Left</button>'.html_safe %>
        <%= link_to '<button type="button">Right</button>'.html_safe %>
    </div>
</div>
<%= image_tag("night_fade.png", :width => "100%") %>
