<div class="profile-container">
   <!-- <div class="profile-user-container">
       
    </div> -->
    <div class="profile-songs-container">
        <p class="profile-user"><u><%= @email %></u></p>
        <p class="profile-song-header"> Songs: </p>
        <ul>
            <% @songs.each do |s| %>
                <li class="profile-song-title"><%= s["name"] %></li>
            <% end %>
        </ul>

        <p class="profile-song-header"> Matches: </p>
        <ul>
            <% @matches.each do |s| %>
                <li class="matches"> Name: <%= s["user_email"]  %> Count: <%= s["cnt"]%></li>
            <% end %>
        </ul>
    </div>
</div>