<%= stylesheet_link_tag "HomePage.css" %>
<div class="header"> 
    <div class="title-container">
        <h1>spinder</h1>
    </div>
    <div class="button-container">
        <button type="button">Log in</button>
    </div>
</div>
<img src="/assets/headphones.png" width="100%">