.music-body {
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 50px 0;
    background-image: url("night_fade.png");
}
  
.arrow:hover {
    background-color: #ddd;
    color: black;
}
  
.arrow {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}